<!doctype html>
<html>
<head>
  <title>[Administrator] AiBaoDay - Hot news and community</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/admin/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/admin/skin-blue.min.css">
  <!-- jQuery 2.1.4 -->
  <script src="/js/admin/jQuery-2.1.4.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper" style="background-color: #ecf0f5;">
    <header class="main-header">
      <!-- Header nav bar -->
      <nav class="navbar navbar-static-top" style="margin-left: 0px;">
        <!-- Logo -->
        <a href="/admin/index" class="logo">
          <span class="logo-mini">AiBaoDay</span>
          <span class="logo-lg">AiBaoDay</span>
        </a>
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                Hello, <span class="hidden-xs" style="font-weight: bold;">{{username}}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-footer">
                  <div class="pull-right">
                    <button class="btn btn-primary btn-flat" id="adminUserSignOut" onclick="signOut();">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header">Content Management</li>
          <li><a href="/admin/category"><i class="fa fa-link"></i> <span>Categories</span></a></li>
          <li><a href="/admin/article"><i class="fa fa-link"></i> <span>Articles</span></a></li>
        </ul>
        <ul class="sidebar-menu">
          <li class="header">User Management</li>
          <li><a href="/admin/role"><i class="fa fa-link"></i> <span>Roles</span></a></li>
          <li><a href="/admin/user"><i class="fa fa-link"></i> <span>Users</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        {{{body}}}
      </section>
    </div>

  </div>
  <!-- Main Footer -->
  <footer class="main-footer" style="margin-left: 0px; text-align: center;">
    <strong>Copyright &copy; 2015 <a href="/">AiBaoDay</a>.</strong> All rights reserved.
  </footer>

  <!-- Bootstrap 3.3.5 -->
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/admin/app.min.js"></script>

  <script type="text/javascript">
    function signOut() {
      $.ajax({
        url: '/users/sign_out',
        type: 'POST',
        success: function(data) {
          if (data.success) {
            window.location.href = "/users/sign_in";
          }
        },
        error: function() {
          alert('Something wrong... Please try again. Thank you.');
        }
      });
    }
  </script>
</body>
</html>
