<!doctype html>
<html>
<head>
  <title>AiBaoDay - Hot news and community</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"           content="{{metaUrl}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{metaTitle}}" />
  <meta property="og:description"   content="{{metaDescription}}" />
  <meta property="og:image"         content="{{metaImage}}" />
  <meta property="fb:app_id" content="1673180456277610" />

  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/plugins.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-71499854-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="sticky_footer">
  <!-- Facebook Comment Plugin - START -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1673180456277610";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk')
    );
  </script>
  <!-- Facebook Comment Plugin - END -->
  <div class="wrapper">
    <!-- HEADER BEGIN -->
		<header>
			<div id="header">
				<section class="top">
					<div class="inner">
						<div class="block_top_menu">
							<nav>
								<ul>
									<li class="current_page_item" style="font-weight: bold;">
                    <a href="/">
                      <img src="/images/logo_aibaoday.png" style="position: absolute; top: -16px; width: 280px; height: 80px; left: -100px;">
                    </a>
                  </li>
								</ul>
							</nav>
						</div>

						<div class="block_search">
							<input type="text" class="w_focus_mark" id="menu_text_search">
						</div>

						<div class="block_top_social">
							<ul class="general_social_1">
								<!-- <li><a href="#" class="social_1">Twitter</a></li> -->
								<li><a href="https://www.facebook.com/aibaoday" target="_blank" class="social_2">Facebook</a></li>
								<!-- <li><a href="#" class="social_3">Vimeo</a></li> -->
								<!-- <li><a href="#" class="social_4">Pinterest</a></li> -->
								<!-- <li><a href="#" class="social_5">Instagram</a></li> -->
							</ul>
						</div>

						<div class="clearboth"></div>
					</div>
				</section>

				<!-- <section class="middle">
					<div class="inner">
						<div id="logo_top"><a href="index.html"><img src="images/logo_top.png" alt="Enterprise" title="Enterprise"></a></div>
					</div>
				</section> -->

				<section class="bottom">
					<div class="inner">
						<div class="block_secondary_menu">
							<nav>
								<ul style="font-weight: bold;">
                  {{#each categories}}
                    <li><a href="/top/{{nameFormat}}">{{name}}</a></li>
                  {{/each}}
								</ul>
							</nav>
						</div>
					</div>
				</section>
			</div>
		</header>
		<!-- HEADER END -->

    <!-- CONTENT BEGIN -->
    <div id="content" class="">
			<div class="inner" style="padding-bottom: 10px;">
        {{{body}}}
      </div>
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER BEGIN -->
		<footer>
			<div id="footer">
				<section class="middle">
					<div class="inner">
						<div class="block_bottom_menu">
							<nav>
								<ul>
                  {{#each categories}}
                    <li><a href="/top/{{nameFormat}}">{{name}}</a></li>
                  {{/each}}
									<li><a href="/contact/form">Liên hệ</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</section>

				<section class="bottom">
					<div class="inner">
						<div class="block_copyrights"><p>&copy; Copyright 2015 by <a href="/">AiBaoDay</a>. All Rights Reserved.</p></div>
					</div>
				</section>
			</div>
		</footer>
		<!-- FOOTER END -->
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#menu_text_search").live("keypress", function (event) {
        if (event.keyCode === 13) {
          var searchText = document.getElementById('menu_text_search').value;
          if (!searchText) {
            return false;
          }
          window.location.replace(window.location.origin + "/search/" + searchText);
          return false;
        }
      });
    });
  </script>
</body>
</html>
