<!doctype html>
<html>
<head>
  <title>AiBaoDay - Hot news and community</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/admin/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/admin/skin-blue.min.css">
</head>
<body class="hold-transition skin-blue">
  <div class="wrapper">
    <header class="main-header">
      <!-- Header nav bar -->
      <nav class="navbar navbar-static-top" style="margin-left: 0px;">
        <!-- Logo -->
        <a href="/" class="logo">
          <span class="logo-mini">AiBaoDay</span>
          <span class="logo-lg">AiBaoDay</span>
        </a>
      </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left: 0px;">
      <!-- Main content -->
      <section class="content">
        {{{body}}}
      </section>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer" style="margin-left: 0px; text-align: center;">
      <strong>Copyright &copy; 2015 <a href="/">AiBaoDay</a>.</strong> All rights reserved.
    </footer>

  </div>
  <!-- jQuery 2.1.4 -->
  <script src="/js/admin/jQuery-2.1.4.min.js"></script>
  <!-- Bootstrap 3.3.5 -->
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/admin/app.min.js"></script>
</body>
</html>
