<div class="block_general_title_1 w_margin_1">
  <h2>Kết quả tìm kiếm cho:</h2>
  <h1>{{keyword}}</h1>
</div>

<hr/>
<br/>
<div class="block_general_title_1 w_margin_1">
  <h2>{{articleCount}} bản tin</h2>
</div>
<br/>
<div class="block_posts type_1 type_sort general_not_loaded">
  <div class="posts" id="article_container">
    {{loadFirstPageArticleList articles}}
  </div>
</div>
