<div class="block_leave_comment_1 type_1">
  <h3>Liên hệ</h3>
  <div class="form">
  	<form id="contact_form">
  		<div class="fields">
  			<div class="label">Họ tên<span>*</span></div>
  			<div><input id="contactNickname" type="text" name="nickname" class="w_focus_mark required" required="true"></div>

  			<div class="label">E-mail <span>*</span></div>
  			<div><input id="contactEmail" type="text" name="email" class="w_focus_mark required" required="true"></div>

  			<div class="label">Tiêu đề</div>
  			<div><input id="contactSubject" type="text" name="subject" class="w_focus_mark" required="true"></div>
  		</div>

  		<div class="oh">
  			<div class="label">Nội dung <span>*</span></div>
  			<div class="textarea" style="width: 50%;"><textarea id="contactMessage" name="message" class="w_focus_mark" cols="10" rows="10" required="true"></textarea></div>
  		</div>
      <div class="button"><input id="send_contact_message_button" type="submit" class="general_button_type_3 submit" value="Gửi"></div>
      <img id="loading_icon" src="/images/loader_1.gif" style="visibility: hidden;"></img>
  	</form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#contact_form").validate({
      rules: {
        nickname: {
          required : true,
          minlength : 3
        },
        email: {
          required : true,
          email : true
        },
        subject: {
          required : true,
          minlength : 5
        },
        message: {
          required : true,
          minlength : 20,
          maxlength : 300
        }
      },
      messages:{
        nickname:{
          required: "Vui lòng nhập tên của bạn",
          minlength: "Tên của bạn phải có độ dài tối thiểu 3 kí tự"
        },
        email: {
          required: "Vui lòng nhập địa chỉ email",
          email: "Địa chỉ email không hợp lệ"
        },
        subject:{
          required: "Vui lòng nhập tiêu đề",
          minlength: "Tiêu đề phải có độ dài tối thiểu 5 kí tự"
        },
        message: {
          required: "Vui lòng nhập nội dung tin nhắn",
          minlength: "Nội dung tin nhắn phải có độ dài tối thiểu 20 kí tự",
          maxlength: "Nội dung tin nhắn có độ dài tối đa 300 kí tự",
        }
      },
      submitHandler: function(form) {
        var contactNickname = document.getElementById('contactNickname').value;
        var contactEmail = document.getElementById('contactEmail').value;
        var contactSubject = document.getElementById('contactSubject').value;
        var contactMessage = document.getElementById('contactMessage').value;
        var submitButton = document.getElementById('send_contact_message_button');
        var loadingIcon = document.getElementById('loading_icon');
        loadingIcon.style.visibility = "visible";
        submitButton.style.visibility = "hidden";
        $.ajax({
          url: '/contact/send',
          type: 'POST',
          data: { nickname : contactNickname, email : contactEmail, subject : contactSubject, message : contactMessage },
          success: function(data) {
            submitButton.style.visibility = "visible";
            loadingIcon.style.visibility = "hidden";
            if (data.success) {
              alert('Gửi thành công. Xin chân thành cảm ơn.');
            } else {
              alert('Xảy ra lỗi bất thường. Xin vui lòng thử lại.');
            }
          },
          error: function() {
            loadingIcon.style.visibility = "hidden";
            submitButton.style.visibility = "visible";
            alert('Xảy ra lỗi bất thường. Xin vui lòng thử lại.');
          }
        });
      }
    });
  });
</script>
