{{#if category}}
  <div class="block_general_title_1 w_margin_1">
    <h1>{{category.name}}</h1>
    <h2>{{category.description}}</h2>
  </div>
{{/if}}

<input id="current_content_page" type="hidden" name="currentContentPage" value="{{currentPage}}">

<div class="block_posts type_1 type_sort general_not_loaded">
  <div class="posts" id="article_container">
    {{loadFirstPageArticleList articles}}
  </div>

  <div class="controls" style="text-align: center;">
    <a href="" id="button_load_more" data-target=".block_posts.type_sort .posts" class="load_more_1" onclick="loadMoreArticles(); return false;"><span>Xem thêm</span></a>
    <br/>
    <img id="more_article_loading_icon" src="/images/loader_1.gif" style="visibility: hidden;"></img>
    <br/>
  </div>
</div>

<script type="text/javascript">

  var isNextPageLoading = false;
  var loadedAjaxData = [];

  window.onload = function () {
    // Hide "Load More" button
    var hasMuliViewPages = parseInt(document.getElementById('current_content_page').value) >= 0;
    if (!hasMuliViewPages) {
      document.getElementById('button_load_more').setAttribute('style', 'display: none;');
    }
    if (('localStorage' in window) && window['localStorage'] !== null) {
      if (parseInt(document.getElementById('current_content_page').value) <= 0) {
        localStorage.removeItem(window.location.href);
      } else {
        if (window.location.href in localStorage) {
          loadedAjaxData = JSON.parse(localStorage.getItem(window.location.href));
          appendArticlesList(loadedAjaxData);
        }
      }
    }
  };

  window.onunload = function () {
    if (('localStorage' in window) && window['localStorage'] !== null) {
      if (loadedAjaxData.length > 0) {
        localStorage.setItem(window.location.href, JSON.stringify(loadedAjaxData));
      } else {
        localStorage.removeItem(window.location.href);
      }
    }
  }

  function loadMoreArticles() {
    var currentPage = parseInt(document.getElementById('current_content_page').value);
    if (currentPage < 0) {
      return;
    }
    isNextPageLoading = true;
    var loadingUrl = window.location.href;
    if (loadingUrl[loadingUrl.length - 1] === "/") {
      loadingUrl = loadingUrl.substring(0, loadingUrl.length - 1);
    }
    if (loadingUrl.toLowerCase().indexOf("top") < 0) { // not Category view mode -> Main page view mode
      loadingUrl = loadingUrl + "/view";
    }
    var loadingMoreButton = document.getElementById('button_load_more');
    var moreArticleLoadingIcon = document.getElementById('more_article_loading_icon');
    loadingMoreButton.style.visibility = "hidden";
    moreArticleLoadingIcon.style.visibility = "visible";
    $.ajax({
      url: loadingUrl + '/' + currentPage.toString(),
      type: 'GET',
      success: function(data) {
        isNextPageLoading = false;
        if (data.success) {
          loadingMoreButton.style.visibility = "visible";
          moreArticleLoadingIcon.style.visibility = "hidden";
          appendArticlesList(data.articles);
          loadedAjaxData.push.apply(loadedAjaxData, data.articles);
          document.getElementById('current_content_page').value = currentPage + 1;
        } else {
          moreArticleLoadingIcon.style.visibility = "hidden";
        }
      },
      error: function() {
        isNextPageLoading = false;
        loadingMoreButton.style.visibility = "visible";
        moreArticleLoadingIcon.style.visibility = "hidden";
        alert("Error...");
      }
    });
  }

  function appendArticlesList(dataList) {
    var articleContainer = document.getElementById('article_container');
    for (var i = 0; i < dataList.length; i++) {
      var articleData = dataList[i];
      var newArticle = `
      <article class="post_type_1">
        <div class="feature">
          <div class="image">
            <a href="/` + articleData.titleUrl + `" style="width: 300px; height: 180px;">
              <img src="` + articleData.thumbnailImage + `" alt="" style="max-width: 100%; max-height: 100%; margin: auto; display: block;"><span class="hover"></span>
            </a>
          </div>
        </div>

        <div class="content">
          <div class="info">
            <div class="tags"><a href="/top/` + articleData.categoryUrl + `">` + articleData.category + `</a></div>
            <div class="date"> - ` + articleData.updatedAt + `</div>
            <div class="stats">
              <div class="likes">` + articleData.views + `</div>
            </div>
          </div>

          <div class="title" style="height: 41px;">
            <a href="/` + articleData.titleUrl + `">` + articleData.title + `</a>
          </div>
        </div>
      </article>`;
      articleContainer.innerHTML = articleContainer.innerHTML + newArticle;
    }
  }

  $(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {
      if (isNextPageLoading) return;
      loadMoreArticles();
    }
});
</script>
