<div class="block_general_title_2">
  {{#if article}}
    <h1>{{article.title}}</h1>
    <h2><a href="/top/{{article.categoryUrl}}" class="tags">{{article.category}}</a>&nbsp;&nbsp;-&nbsp;&nbsp;<span class="author">by <a href="#">{{article.author}}</a></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span class="date">{{article.updatedAt}}</span></h2>
    <div class="stats">
      <div class="likes">{{article.views}}</div>
    </div>
    <br/>
    <div class="social" style="text-align: center;">
      <ul class="general_social_2">
        <li>
          <div class="fb-like" data-href="http://aibaoday.com/{{article.titleUrl}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <div class="g-plusone" data-size="medium" data-annotation="bubble" expandTo="right" data-width="150" data-align="left" data-href="http://aibaoday.com/{{article.titleUrl}}"></div>
        </li>
      </ul>
    </div>
  {{/if}}
</div>

<!-- Article Content - Start -->
<div class="main_content">
  <div class="block_content" style="line-height: 1.5; padding-bottom: 0px;">
    <input type="hidden" id="articleDescriptionHidden" value="{{article.description}}">
    <div style="text-align: justify;"><label id="article_detail_description" style="font-weight: bold; font-size: 16px; padding-right: 10px; word-wrap: break-word;"></label></div>
    <br/>
    <input type="hidden" id="articleContentHidden" value="{{article.content}}">
    <div style="text-align: justify;" id="article_detail_content"></div>
    <div class="line_1"></div>
  </div>

  <div class="block_info_1 type_1">
    <div class="tags">
      <div class="title"><span>Tags</span></div>
      <ul>
        {{#each article.tags}}
          <li><a href="/search/{{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <!-- Facebook Comment area -->
  <div class="fb-comments" data-href="http://aibaoday.com/{{article.titleUrl}}" data-width="620" data-numposts="5"></div>
</div>
<!-- Article Content - End -->

<!-- Sidebar Information - Start -->
<div class="sidebar">
  <!-- Facebook Fanpage view -->
  <div class="fb-page" data-href="https://www.facebook.com/aibaoday" data-width="296" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/aibaoday"><a href="https://www.facebook.com/aibaoday">Ai Báo Đây</a></blockquote>
    </div>
  </div>
  <br/>
  <!-- Google Plus Follow button -->
  <br/>
  <div style="text-align: center;">
    <div class="g-page" data-width="296" data-href="https://plus.google.com/100905506373777396699" data-layout="landscape" data-rel="publisher"></div>
  </div>
  <br/>
  <aside>
    <div class="sidebar_title_1">Bài viết mới nhất</div>
    <div class="block_sidebar_popular_posts">
      {{#each latestArticles}}
        <article>
          <div class="content">
            <div class="title">
              <a href="/{{titleUrl}}">{{title}}</a>
            </div>
            <div class="info">
              <div class="tags"><a href="/top/{{categoryUrl}}" >{{category}} - </a></div>
              <div class="date">{{updatedAt}}</div>
            </div>
          </div>
        </article>
      {{/each}}
    </div>
  </aside>

  <aside>
    <div class="sidebar_title_1">Nổi bật trong ngày</div>
    <div class="block_sidebar_popular_posts">
      {{#each dailyTopArticles}}
        <article>
          <div class="content">
            <div class="title">
              <a href="/{{titleUrl}}">{{title}}</a>
            </div>
            <div class="info">
              <div class="tags"><a href="/top/{{categoryUrl}}" >{{category}} - </a></div>
              <div class="date">{{updatedAt}}</div>
            </div>
          </div>
        </article>
      {{/each}}
    </div>
  </aside>
  <aside>
    <div class="sidebar_title_1">Nổi bật trong tuần</div>
    <div class="block_sidebar_popular_posts">
      {{#each weeklyTopArticles}}
        <article>
          <div class="content">
            <div class="title">
              <a href="/{{titleUrl}}">{{title}}</a>
            </div>
            <div class="info">
              <div class="tags"><a href="/top/{{categoryUrl}}" >{{category}} - </a></div>
              <div class="date">{{updatedAt}}</div>
            </div>
          </div>
        </article>
      {{/each}}
    </div>
  </aside>
</div>
<!-- Sidebar Information - End -->

<div class="clearboth"></div>

<script type="text/javascript">
  window.onload = function () {
    document.getElementById('content').setAttribute('class', 'sidebar_right');
    document.getElementById('article_detail_description').innerHTML = document.getElementById('articleDescriptionHidden').value;
    document.getElementById('article_detail_content').innerHTML = document.getElementById('articleContentHidden').value;
    document.getElementById('___plusone_0').style.marginLeft = "5px";
    document.getElementById('___plusone_0').style.marginRight = "5px";
  };
</script>
