<h1>Article Content</h1>
<br/>

{{#if article}}
  <button class="btn btn-danger" onclick="onClickDeleteArticle(&quot;{{article._id}}&quot;);">Delete Article</button>
  <br/>
  <br/>
{{/if}}

<!-- Auto fetch article content from sources -->
<div class="row">
      <div class="col-sm-5">
        <input type="text" name="articleSourceUrl" class="form-control" id="articleSourceUrl" placeholder="Article source url..." required="true">
      </div>
      <button class="btn btn-warning" onclick="onClickFetchArticle();">Fetch Article</button>
</div>
<br/>
<div class="row">
  <div class="col-sm-5">
    <div class="progress progress-sm active" id="fetchingDataProgressBar" style="display: none;">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_article_edit" data-toggle="tab">Edit Content</a></li>
        <li><a href="#tab_article_thumbnail_preview" data-toggle="tab">Thumbnail Preview</a></li>
        <li><a href="#tab_article_detail_preview" data-toggle="tab">Details Preview</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_article_edit">
          <div class="box-body">
            <form class="form-horizontal" action="{{#if article}}/admin/article/edit/{{article._id}}{{else}}/admin/article/new{{/if}}" method="POST">
              <input type="hidden" name="_csrf" value="{{csrf}}">
              {{#if article}}
                <input type="hidden" name="articleId" value="{{article._id}}">
              {{/if}}
              <div class="box-body">
                <div class="form-group">
                  <label for="inputArticleTitle" class="col-sm-3 control-label">Title</label>
                  <div class="col-sm-5">
                    <input type="text" name="title" class="form-control" id="inputArticleTitle" placeholder="Title" required="true" value="{{#if article}}{{article.title}}{{/if}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputArticleDescription" class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-8">
                    <input type="text" name="description" class="form-control" id="inputArticleDescription" placeholder="Description" required="true" value="{{#if article}}{{article.description}}{{/if}}">
                  </div>
                </div>
                <input type="hidden" id="selectedCategory" name="selectedCategory" value="{{#if article}}{{article.category}}{{/if}}">
                <div class="form-group">
                  <label for="inputArticleCategory" class="col-sm-3 control-label">Category</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="inputArticleCategory" name="category">
                      {{#each categories}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputArticleThumbnailImage" class="col-sm-3 control-label">Thumbnail Image URL</label>
                  <div class="col-sm-8">
                    <input type="text" name="thumbnailImage" class="form-control" id="inputArticleThumbnailImage" placeholder="Thumbnail Image URL" required="true" value="{{#if article}}{{article.thumbnailImage}}{{/if}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputArticleAuthor" class="col-sm-3 control-label">Author</label>
                  <div class="col-sm-8">
                    <input type="text" name="author" class="form-control" id="inputArticleAuthor" placeholder="Author" required="true" value="{{#if article}}{{article.author}}{{else}}{{username}}{{/if}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputArticleContent" class="col-sm-3 control-label">Content</label>
                  <div class="col-sm-8">
                    <form>
                      <input type="hidden" name="articleContent" id="articleContentEditMode" value="{{#if article}}{{article.content}}{{/if}}">
                      <textarea id="inputArticleContent" name="content" class="textarea" placeholder="Content text here..." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" value="{{#if article}}{{article.content}}{{/if}}"></textarea>
                    </form>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputArticleTags" class="col-sm-3 control-label">Tags</label>
                  <div class="col-sm-8">
                    <input type="text" name="tags" class="form-control" id="inputArticleTags" placeholder="Tags (seperated by , comma character; ex: dog,cat)" value="{{#if article}}{{article.tags}}{{/if}}">
                  </div>
                </div>
                <div class="box-footer" style="text-align: center;">
                  <button type="submit" class="btn btn-info">Save Article</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane" id="tab_article_thumbnail_preview">
          <div>
            <ul class="mailbox-attachments clearfix">
              <li>
                <img id="article_preview_thumbnail_img" src="" style="width: 100%;" />
                <div class="mailbox-attachment-info">
                  <label id="article_preview_thumbnail_subtitle" style="font-weight: normal; word-wrap: break-word;"></label>
                  <span class="mailbox-attachment-size">
                    <label id="article_preview_thumbnail_title" style="color: #000000; font-size: 18px; font-weight:bold; word-wrap: break-word;"></label>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="tab_article_detail_preview">
          <h2 style="text-align: center;"><label id="article_preview_title" style="font-weight:bold; padding-left: 10px; padding-right: 10px; word-wrap: break-word;"></label></h2>
          <div style="text-align: center;"><label id="article_preview_subtitle" style="font-weight: normal; padding-left: 10px; padding-right: 10px; word-wrap: break-word;"></label></div>
          <br/>
          <br/>
          <div style="text-align: justify;"><label id="article_preview_description" style="font-size: 18px; padding-left: 10px; padding-right: 10px; word-wrap: break-word;"></label></div>
          <div style="text-align: justify;"><label id="article_preview_content" style="font-weight: normal; padding-left: 10px; padding-right: 10px; word-wrap: break-word;"></label></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<script>
  window.onload = function () {
    var articleContentEditMode = document.getElementById('articleContentEditMode');
    CKEDITOR.replace('inputArticleContent');
    CKEDITOR.instances['inputArticleContent'].setData(articleContentEditMode.value);

    // Details Preview Tab
    $('a[href="#tab_article_detail_preview"]').on('shown.bs.tab', function (e) {
      document.getElementById('article_preview_title').innerHTML = document.getElementById('inputArticleTitle').value;
      document.getElementById('article_preview_subtitle').innerHTML = document.getElementById('inputArticleCategory').value + " / by " + document.getElementById('inputArticleAuthor').value + " / " + (new Date()).toDateString();
      document.getElementById('article_preview_description').innerHTML = document.getElementById('inputArticleDescription').value;
      document.getElementById('article_preview_content').innerHTML = CKEDITOR.instances['inputArticleContent'].getData();
    });

    $('a[href="#tab_article_thumbnail_preview"]').on('shown.bs.tab', function (e) {
      document.getElementById('article_preview_thumbnail_img').src = document.getElementById('inputArticleThumbnailImage').value;
      document.getElementById('article_preview_thumbnail_title').innerHTML = document.getElementById('inputArticleTitle').value;
      document.getElementById('article_preview_thumbnail_subtitle').innerHTML = document.getElementById('inputArticleCategory').value + " / " + (new Date()).toDateString();
    });

    var categoryDropdownList = document.getElementById('inputArticleCategory');
    var selectedCategory = document.getElementById('selectedCategory').value;
    if (selectedCategory) {
      for (var i = 0; i < categoryDropdownList.options.length; i++) {
        if (categoryDropdownList.options[i].text == selectedCategory) {
          categoryDropdownList.options[i].selected = true;
          return;
        }
      }
    }
  };

  function onClickDeleteArticle(articleId) {
    $.ajax({
      url: '/admin/article/delete',
      type: 'POST',
      data: { articleId: articleId },
      success: function(data) {
        if (data.success) {
          window.location.href = "/admin/article";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }

  /*
   * Fetch article content from source automatically (voz forum)
   */
  function onClickFetchArticle() {
    var articleSourceUrl = document.getElementById('articleSourceUrl');
    var sourceUrl = articleSourceUrl.value;
    sourceUrl = sourceUrl.trim();
    // Hardcode for Voz forum source
    if (sourceUrl.indexOf("vozforums.com") < 0) {
      alert("Please insert a valid url string...");
      return;
    }
    var fetchingDataProgressBar = document.getElementById('fetchingDataProgressBar');
    fetchingDataProgressBar.style.display = null;
    $.ajax({
      url: '/admin/tool/fetch?sourceUrl=' + sourceUrl,
      type: "GET",
      success: function(data) {
        fetchArticleData(data.success);
        fetchingDataProgressBar.style.display = "none";
      },
      error: function() {
        alert('Oh no...');
        fetchingDataProgressBar.style.display = "none";
      }
    });
  }

  function fetchArticleData(data) {
    var div = document.createElement('div');
    div.innerHTML = data;

    var inputArticleTitle = document.getElementById('inputArticleTitle');
    var inputArticleDescription = document.getElementById('inputArticleDescription');
    var inputArticleThumbnailImage = document.getElementById('inputArticleThumbnailImage');
    // Get Title
    var titleTags = div.getElementsByTagName('title');
    inputArticleTitle.value = titleTags[0].innerHTML.replace(" - vozForums", "").trim();
    var articleText = "";
    var contentMainTag = div.getElementsByClassName('voz-post-message')[0];
    var innerContentTableTags = contentMainTag.getElementsByClassName('voz-bbcode-quote');
    if (innerContentTableTags.length > 0) {
      var contentTable = innerContentTableTags[0];
      var dataCell = contentTable.rows[0].getElementsByTagName('td')[0];
      articleText = dataCell.innerHTML;
    } else {
      articleText = contentMainTag.innerHTML;
    }
    var contentDiv = document.createElement('contentDiv');
    contentDiv.innerHTML = articleText;
    var imageTags = contentDiv.getElementsByTagName('img');
    if (imageTags.length > 0) {
      inputArticleThumbnailImage.value = imageTags[0].src;
    }
    var boldTags = contentDiv.getElementsByTagName('b');
    if (boldTags.length > 0) {
      var firstBoldTag = boldTags[0];
      inputArticleDescription.value = firstBoldTag.innerHTML;
      contentDiv.removeChild(firstBoldTag);
    } else {
      inputArticleDescription.value = inputArticleTitle.value;
    }
    var regex = /^\s*(<br\s*\/?\s*>)+|(<br\s*\/?\s*>)+\s*$/ig;
    var trimmedContent = contentDiv.innerHTML.replace(regex, '');
    trimmedContent = trimmedContent.replace(regex, '');
    CKEDITOR.instances['inputArticleContent'].setData(trimmedContent);
  }
</script>
