<h1>Article Management</h1>
<br/>
<a href="/admin/article/new" class="btn btn-info">Post New Article</a>
<br/>
<br/>

<input id="max_page_hidden" type="hidden" name="maxPageHidden" value="{{maxPage}}">

<div class="panel box box-primary">
  <div class="box-header with-border">
    <h4 class="box-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Articles List
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in">
    <div class="box-body">
      <div>
        <a href="javascript: onClickPreviousPage();" class="btn btn-success pull-left">Previous Page</a><a href="javascript: onClickNextPage();" class="btn btn-success pull-right">Next Page</a>
        <br/>
        <br/>
      </div>
      <table class="table table-bordered">
        <tr>
          <th class="col-md-3" style="text-align: center;">Title</th>
          <th class="col-md-2" style="text-align: center;">Category</th>
          <th class="col-md-2" style="text-align: center;">Author</th>
          <th class="col-md-3" style="text-align: center;">Updated</th>
          <th class="col-md-2" style="text-align: center;">Actions</th>
        </tr>
        {{#each articles}}
          <tr>
            <td>{{title}}</td>
            <td>{{category}}</td>
            <td>{{author}}</td>
            <td>{{updatedAt}}</td>
            <td style="text-align: center;">
              <a href="/admin/article/edit/{{_id}}" class="btn btn-primary btn-xs">Edit</a>
              <button type="button" class="btn btn-{{#if published}}danger{{else}}success{{/if}} btn-xs" onclick="onClickUpdateArticleStatus(&quot;{{_id}}&quot;,{{published}});">{{#if published}}Unpublish{{else}}Publish{{/if}}</button>
            </td>
          </tr>
        {{else}}
          <tr>
            <td></td>
            <td style="text-align: center;"><div class="label label-primary">No Articles</div></td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </table>
      <div>
        <br/>
        <a href="javascript: onClickPreviousPage();" class="btn btn-success pull-left">Previous Page</a><a href="javascript: onClickNextPage();" class="btn btn-success pull-right">Next Page</a>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function onClickUpdateArticleStatus(articleId, isPublished) {
    $.ajax({
      url: '/admin/article/update',
      type: 'POST',
      data: { articleId: articleId, published: !isPublished },
      success: function(data) {
        if (data.success) {
          window.location.href = "/admin/article";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }

  // Previous Article page onclick event
  function onClickPreviousPage() {
    var currentPageNumber = parseInt(getQueryParam("page"));
    if (currentPageNumber && currentPageNumber > 2) {
      window.location.href = "/admin/article?page=" + parseInt(currentPageNumber - 1);
    } else if (currentPageNumber === 2) {
      window.location.href = "/admin/article";
    } else {
      alert('This is the first page!');
    }
  }

  // Next Article page onclick event
  function onClickNextPage() {
    var currentPageNumber = parseInt(getQueryParam("page"));
    if (currentPageNumber && currentPageNumber > 1) {
      var maxPageCount = document.getElementById('max_page_hidden').value;
      if (currentPageNumber >= maxPageCount) {
        alert('This is the last page!');
        return;
      }
      window.location.href = "/admin/article?page=" + parseInt(currentPageNumber + 1);
    } else {
      window.location.href = "/admin/article?page=2";
    }
  }

  function getQueryParam(paramName) {
    paramName = paramName.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + paramName + "=([^&#]*)"), results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
</script>
