<h1>Category Management</h1>
<br>
<div class="col-md-8">
  <div class="box box-solid">
    <div class="box-body">
      <div class="box-group" id="accordion">
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Add New Category
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="box-body">
              <form class="form-horizontal">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <div class="box-body">
                  <div class="form-group">
                    <label for="inputCategoryName" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-5">
                      <input type="text" name="categoryName" class="form-control" id="inputCategoryName" placeholder="Category Name" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCategoryDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-8">
                      <input type="text" name="categoryDescription" class="form-control" id="inputCategoryDescription" placeholder="Category Description" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCategoryViewOrder" class="col-sm-3 control-label">View Order</label>
                    <div class="col-sm-8">
                      <input type="text" name="categoryViewOrder" class="form-control" id="inputCategoryViewOrder" placeholder="View Order" required="true">
                    </div>
                  </div>
                </div>
              </form>
              <div class="box-footer" style="text-align: center;">
                <button type="button" class="btn btn-info" onclick="onClickAddCategory();">Add New Category</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Categories List
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th class="col-md-2" style="text-align: center;">Category Name</th>
                  <th class="col-md-6" style="text-align: center;">Description</th>
                  <th class="col-md-1" style="text-align: center;">View Order</th>
                  <th class="col-md-3" style="text-align: center;">Action</th>
                </tr>
                {{#each categories}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{viewOrder}}</td>
                    <td style="text-align: center;">
                      <button type="button" class="btn btn-primary btn-xs" onclick="onClickEditCategory(&quot;{{_id}}&quot;,&quot;{{name}}&quot;,&quot;{{description}}&quot;,&quot;{{viewOrder}}&quot;)">Edit</button>
                      <button type="button" class="btn btn-danger btn-xs" onclick="onClickDeleteCategory(&quot;{{_id}}&quot;)">Delete</button>
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td></td>
                    <td style="text-align: center;"><div class="label label-primary">No Role</div></td>
                    <td></td>
                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Category Modal Popup -->
<div id="editCategoryDialog" class="modal modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="modal-title-label" class="modal-title">Edit Category</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" id="formEditCategory">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="categoryId" id="editCategoryId" value="">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="editCategoryName" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-5">
                      <input type="text" name="categoryName" class="form-control" id="editCategoryName" placeholder="Category Name" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="editCategoryDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-8">
                      <input type="text" name="categoryDescription" class="form-control" id="editCategoryDescription" placeholder="Category Description" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="editCategoryViewOrder" class="col-sm-3 control-label">View Order</label>
                    <div class="col-sm-8">
                      <input type="text" name="categoryViewOrder" class="form-control" id="editCategoryViewOrder" placeholder="View Order" required="true">
                    </div>
                  </div>
                </div>
              </form>
              <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-info" onclick="onClickSaveCategory();">Save</button>
              </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  function onClickAddCategory() {
    $.ajax({
      url: '/admin/category/new',
      type: 'POST',
      data: { categoryName: document.getElementById("inputCategoryName").value, categoryDescription: document.getElementById("inputCategoryDescription").value, categoryViewOrder: document.getElementById('inputCategoryViewOrder').value },
      success: function(data) {
        if (data.success) {
          window.location.href = "/admin/category";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }

  function onClickEditCategory(categoryId, categoryName, categoryDescription, viewOrder) {
    $("#editCategoryId").val(categoryId);
    $("#editCategoryName").val(categoryName);
    $("#editCategoryDescription").val(categoryDescription);
    $("#editCategoryViewOrder").val(viewOrder);
    $("#editCategoryDialog").modal('toggle');
  }

  function onClickSaveCategory() {
    $.ajax({
      url: '/admin/category/edit',
      type: 'POST',
      data: { categoryId: document.getElementById("editCategoryId").value, categoryName: document.getElementById("editCategoryName").value, categoryDescription: document.getElementById("editCategoryDescription").value, categoryViewOrder: document.getElementById("editCategoryViewOrder").value },
      success: function(data) {
        if (data.success) {
          $("#editCategoryDialog").modal('hide');
          window.location.href = "/admin/category";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }

  function onClickDeleteCategory(categoryId) {
    $.ajax({
      url: '/admin/category/delete',
      type: 'POST',
      data: { categoryId: categoryId },
      success: function(data) {
        if (data.success) {
          window.location.href = "/admin/category";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }
</script>
