<h1>Role Management</h1>
<br>
<div class="col-md-8">
  <div class="box box-solid">
    <div class="box-body">
      <div class="box-group" id="accordion">
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Add New Role
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="box-body">
              <form class="form-horizontal">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <div class="box-body">
                  <div class="form-group">
                    <label for="inputRoleName" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-5">
                      <input type="text" name="roleName" class="form-control" id="inputRoleName" placeholder="Role Name" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputRoleDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-8">
                      <input type="text" name="roleDescription" class="form-control" id="inputRoleDescription" placeholder="Role Description" required="true">
                    </div>
                  </div>
                </div>
              </form>
              <div class="box-footer" style="text-align: center;">
                <button type="button" class="btn btn-info" onclick="onClickAddRole();">Add New Role</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Roles List
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th class="col-md-4" style="text-align: center;">Role Name</th>
                  <th class="col-md-5" style="text-align: center;">Description</th>
                  <th class="col-md-3" style="text-align: center;">Action</th>
                </tr>
                {{#each roles}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td style="text-align: center;">
                      <button type="button" class="btn btn-primary btn-xs" onclick="onClickEditRole(&quot;{{_id}}&quot;,&quot;{{name}}&quot;,&quot;{{description}}&quot;)">Edit</button>
                      <button type="button" class="btn btn-danger btn-xs" onclick="onClickDeleteRole(&quot;{{_id}}&quot;)">Delete</button>
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td></td>
                    <td style="text-align: center;"><div class="label label-primary">No Role</div></td>
                    <td></td>
                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Role Modal Popup -->
<div id="editRoleDialog" class="modal modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="modal-title-label" class="modal-title">Edit Role</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" id="formEditRole">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="RoleId" id="editRoleId" value="">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="editRoleName" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-5">
                      <input type="text" name="roleName" class="form-control" id="editRoleName" placeholder="Role Name" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="editRoleDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-8">
                      <input type="text" name="roleDescription" class="form-control" id="editRoleDescription" placeholder="Role Description" required="true">
                    </div>
                  </div>
                </div>
              </form>
              <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-info" onclick="onClickSaveRole();">Save</button>
              </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  function onClickAddRole() {
    $.ajax({
      url: '/admin/role/new',
      type: 'POST',
      data: { roleName: document.getElementById("inputRoleName").value, roleDescription: document.getElementById("inputRoleDescription").value },
      success: function(data) {
        if (data.success) {
          window.location.href = "/admin/role";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }

  function onClickEditRole(roleId, roleName, roleDescription) {
    $("#editRoleId").val(roleId);
    $("#editRoleName").val(roleName);
    $("#editRoleDescription").val(roleDescription);
    $("#editRoleDialog").modal('toggle');
  }

  function onClickSaveRole() {
    $.ajax({
      url: '/admin/role/edit',
      type: 'POST',
      data: { roleId: document.getElementById("editRoleId").value, roleName: document.getElementById("editRoleName").value, roleDescription: document.getElementById("editRoleDescription").value },
      success: function(data) {
        if (data.success) {
          $("#editRoleDialog").modal('hide');
          window.location.href = "/admin/role";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }

  function onClickDeleteRole(roleId) {
    $.ajax({
      url: '/admin/role/delete',
      type: 'POST',
      data: { roleId: roleId },
      success: function(data) {
        if (data.success) {
          window.location.href = "/admin/role";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }
</script>
