<h1>User Management</h1>
<br>
<div class="col-md-10">
  <div class="box box-solid">
    <div class="box-body">
      <div class="box-group" id="accordion">
        <div class="panel box box-primary">
          <div class="box-header with-border">
            <h4 class="box-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Users List
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="text-align: center;">User Name</th>
                  <th style="text-align: center;">Email</th>
                  <th style="text-align: center;">Role</th>
                  <th style="text-align: center;">Joined At</th>
                  <th style="text-align: center;">Action</th>
                </tr>
                {{#each users}}
                  <tr>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    <td>{{role}}</td>
                    <td>{{createdAt}}</td>
                    <td style="text-align: center;">
                      <button type="button" class="btn btn-primary btn-xs" onclick="onClickChangeRole(&quot;{{_id}}&quot;)">Change Role</button>
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td></td>
                    <td style="text-align: center;"><div class="label label-primary">No User</div></td>
                    <td></td>
                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Change User Role Modal Popup -->
<div id="changeUserRoleDialog" class="modal modal-primary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="modal-title-label" class="modal-title">Change User Role</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" id="formEditCategory">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="userId" id="selectedUserId" value="">
                <div class="modal-body">
                  <div class="form-group">
                    <label>Select a role from the list below: </label>
                    <select class="form-control" id="userRoleSelection">
                      <option value="">-- No role --</option>
                      {{#each userRoles}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </form>
              <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-info" onclick="onClickSaveUserRole();">Save</button>
              </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  function onClickChangeRole(userId) {
    $("#selectedUserId").val(userId);
    $("#changeUserRoleDialog").modal('toggle');
  }

  function onClickSaveUserRole() {
    var roleDDL = document.getElementById("userRoleSelection");
    var selectedRoleName = roleDDL.options[roleDDL.selectedIndex].value;
    $.ajax({
      url: '/admin/user/role',
      type: 'POST',
      data: { userId: document.getElementById("selectedUserId").value, roleName: selectedRoleName },
      success: function(data) {
        if (data.success) {
          $("#changeUserRoleDialog").modal('hide');
          window.location.href = "/admin/user";
        } else {
          alert("Something wrong...");
        }
      },
      error: function() {
        alert("Something wrong...");
      }
    });
  }
</script>
