<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="box box-info">
      <div class="box-header with-border" style="text-align: center;">
        <h1 class="box-title">Sign in</h1>
      </div>

      <form class="form-horizontal" action="/users/sign_in" method="POST" role="form">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="box-body">
          <div class="form-group">
            <label for="inputUserName" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <input type="text" name="username" class="form-control" id="inputUserName" placeholder="Username" required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required="true">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12" style="text-align: center;">
              <a href="/users/sign_up">Not a member? Create an account</a>
            </div>
          </div>
        </div>
        <div class="box-footer" style="text-align: center;">
          <button type="submit" class="btn btn-info">Sign In</button>
          <button type="submit" class="btn btn-default">Cancel</button>
        </div>
      </form>
      {{#if message}}
        <div class="text-red" style="text-align: center;">
          {{message}}
        </div>
        <br/>
      {{/if}}
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
